aniso8601==3.0.0
arrow==0.12.1
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
cssselect==1.0.3
cycler==0.10.0
databasetools==0.0.1
datastructuretools==0.0.2
datatools==0.0.1
dill==0.2.7.1
domainduplicate==0.0.1
error404detector==0.0.1
feedparser==5.2.1
findspark==1.2.0
Flask==1.0.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
future==0.16.0
hjsystemtools==0.0.83
hjwebbrowser==0.0.1
honeypotdetector==0.0.2
html2text==2018.1.9
httplib2==0.11.3
idna==2.6
ipgetter==0.7
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
langdetect==1.0.7
lxml==4.2.1
machinelearning==0.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
multiprocess==0.70.5
newstools==0.0.3
nlptools==0.0.1
nltk==3.3
numpy==1.14.3
orderedset==2.0.1
pandas==0.23.0
parsedatetime==2.4
pathlib==1.0.1
pathos==0.2.1
pika==0.11.2
pox==0.2.3
ppft==1.6.4.7.1
psutil==5.4.5
publicsuffix==1.1.0
pymongo==3.6.1
pyparsing==2.2.0
pyrabbit==1.1.0
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.4
readability-lxml==0.7
requests==2.18.4
scikit-learn==0.19.1
scipy==1.1.0
scroller==0.0.3
seaborn==0.8.1
selenium==3.12.0
sh==1.12.14
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.8
systemtools==1.0.2
tzlocal==1.5.1
unshortener==0.0.1
url-normalize==1.3.3
urllib3==1.22
urltools==0.3.2
webcrawler==0.0.3
Werkzeug==0.14.1
passlib
